name: Streamlit Keep Alive

on:
  schedule:
    - cron: '0 */10 * * *'
  workflow_dispatch:

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: deploy

      - name: Create dummy change
        run: |
          date > last_refresh.txt
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add last_refresh.txt
          git commit -m "bot: keep alive"
          git push origin deploy
